main img.main-illustration{
    position: absolute;
    right: 0;  
    bottom: 60px;
    right: -20px;
    -webkit-animation: float-main 6s ease-in-out infinite;
    animation: float-main 6s ease-in-out infinite;
    -webkit-transform: translatey(0px);
    -ms-transform: translatey(0px);
    transform: translatey(0px); 
    z-index: 0;
}

main img.shadow-illustration{
    position: absolute;
    right: 0;  
    /* top: 60px; */
    bottom: 0px;
    right: 35px;
    -webkit-animation: float-main 6s ease-in-out infinite;
    animation: float-main 6s ease-in-out infinite;
    -webkit-transform: translatey(0px);
    -ms-transform: translatey(0px);
    transform: translatey(0px); 
    z-index: -1;
    animation: float 6s ease-in-out infinite;
} 

/* LOGIN FORM */

.main-form{
    display: block;
    position: relative;
    z-index: 2;
    /* margin-top: 10vh; */
    margin-left: 50vh;
    background: rgba(255, 255, 255, 0.9);
    /* height: 450px; */
    width: 500px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.164);
}


.main-form .form-content{
    height: 100%;
    width: 100%;
    text-align: center;
}

.form-content h3{
    display: block;
    padding: 30px 0 0px 0;
    color: #000;
}

.form-content .title-bottom{
    height: 1px;
    width: 300px;
    background: rgba(0, 0, 0, 0.274);
    margin: 0 auto 20px auto;
}
.form-content h5{
    font-size: 1.3em;
}

.form-content .form-login{
    height: auto;
    width: 80%;
    margin: 0 auto;
}

 
.form-login .e-label{
    display: block;
    text-align: left !important;
    /* background: rgb(5, 228, 72); */
    padding: 10px 0 5px 0;
    font-size: 0.9em;
}
.form-login #email{
    display: block;
    height: 35px;
    width: 100%;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    /* margin: 0 auto; */
    border-color: rgba(0, 0, 0, 0.308);
}


.form-login .p-label{
    display: block;
    text-align: left !important;
    /* background: rgb(5, 228, 72); */
    padding: 10px 0 5px 0;
    font-size: 0.9em;

}
.form-login #password{
    display: block;
    height: 35px;
    width: 100%; 
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    /* margin: 0 auto; */
    border-color: rgba(0, 0, 0, 0.308);

}

.confirmation{
    /* background: red; */
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.form-login .r-label{
    font-size: 0.8em;
    
}
.form-login #remember{
    display: inline-block;
    padding: 20px 0 0px 0;
}

.confirmation a{
    font-size: 0.8em;
}

.submit{ 
    /* background: red; */
    /* background: red; */
    padding: 10px 0;
}
.submit .btn.btn-blue{
    width: 90%;
    margin: 15px auto;
    background: rgb(0, 119, 255);
    color: #fff;
    font-size: 1.2em;
    padding: 10px 0 13px 0;

}
.submit p{
    font-size: 0.9em;
}
.submit a{
    text-decoration: none;
    margin: 0 15px;
}

 /* SIGN UP FORM */
 
.form-content .form-signup{
    height: auto;
    width: 80%;
    margin: 0 auto;
}

 

 .form-signup .e-label{
    display: block;
    text-align: left !important;
    /* background: rgb(5, 228, 72); */
    padding: 10px 0 5px 0;
    font-size: 0.9em;
}
.form-signup #email{
    display: block;
    height: 35px;
    width: 100%;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    /* margin: 0 auto; */
    border-color: rgba(0, 0, 0, 0.308);
}
 .form-signup .n-label{
    display: block;
    text-align: left !important;
    /* background: rgb(5, 228, 72); */
    padding: 10px 0 5px 0;
    font-size: 0.9em;
}
.form-signup #name{
    display: block;
    height: 35px;
    width: 100%;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    /* margin: 0 auto; */
    border-color: rgba(0, 0, 0, 0.308);
}

.form-signup .cn-label{
    display: block;
    text-align: left !important;
    /* background: rgb(5, 228, 72); */
    padding: 10px 0 5px 0;
    font-size: 0.9em;
}
.form-signup #c-name{
    display: block;
    height: 35px;
    width: 100%;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    /* margin: 0 auto; */
    border-color: rgba(0, 0, 0, 0.308);
}

.form-signup .p-label{
    display: block;
    text-align: left !important;
    /* background: rgb(5, 228, 72); */
    padding: 10px 0 5px 0;
    font-size: 0.9em;
}
.form-signup #password{
    display: block;
    height: 35px;
    width: 100%;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    /* margin: 0 auto; */
    border-color: rgba(0, 0, 0, 0.308);
}

.form-signup .cp-label{
    display: block;
    text-align: left !important;
    /* background: rgb(5, 228, 72); */
    padding: 10px 0 5px 0;
    font-size: 0.9em;
}
.form-signup #c-password{
    display: block;
    height: 35px;
    width: 100%;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    /* margin: 0 auto; */
    border-color: rgba(0, 0, 0, 0.308);
}

.form-content .textt{
    display: block;
    width: 80%;
    margin: 20px auto;
    /* background: red; */
    font-size: .9em;
}

.signup-content {
    padding: 20px 0;
    /* background: blue; */
}
.signup-content .btn {
    width: 180px;
    margin: 0 10px;
}
.signup-content .btn.btn-blue{
    /* margin: 15px auto; */
    background: rgb(0, 119, 255);
    color: #fff;
    /* padding: 10px 0 13px 0; */
}