/* login page  */

/* MEDIUM DESKTOPS */

@media(max-width:1300px){
    .main-form{ 
        margin-left: 30vh; 
    }
}
@media(max-width:1000px){
    .main-form{
        margin-left: 20vh;
    }
}

/* TABLETS */
@media(max-width:768px){
    .main-form{ 
        margin-left: 10vh;  
    }
}

@media(max-width:700px){
    .main-form{ 
        margin-left: 0vh; 
        max-width: 500px;
        width: 100%; 
    }
}

/* MOBILE */

@media(max-width:400px){
    .main-form{ 
        margin-left: 0vh; 
        max-width: 500px;
        width: 100%; 
    }
    
    .confirmation{
        flex-direction: column;
    }
    
    .submit a{
        display: block;
    }
}

